<a href="https://colab.research.google.com/github/smileone22/20Fall_BasicTools_for_BigData_Machine_Learning/blob/master/pandas_cheeat_sheet_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df= pd.DataFrame ( 
    {"a":[4,5,6], # a is column
     "b":[7,8,9], # b is column / list is called series in pandas 
     "c":[10,11,12]},
     index=[1,2,3] #index becomes row 
)

In [3]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [4]:
df["a"]

1    4
2    5
3    6
Name: a, dtype: int64

In [5]:
df["c"] # case sensitive

1    10
2    11
3    12
Name: c, dtype: int64

In [7]:
df[["a","c"]]

   a   c
1  4  10
2  5  11
3  6  12

In [8]:
df.loc[1] #index

a     4
b     7
c    10
Name: 1, dtype: int64

In [11]:
df.loc[[1,3]] #index

   a  b   c
1  4  7  10
3  6  9  12

In [9]:
df.loc[3,"a"] #index

6

In [14]:
df.loc[[1,2],["a","b"]] # row , column order

   a  b
1  4  7
2  5  8

In [18]:
df= pd.DataFrame ( 
    [[4,5,6], # a is column
     [7,8,9], # b is column / list is called series in pandas 
     [10,11,12]],
     index=[1,2,3], #index becomes row 
     columns=['a','b','c'] 
)
df

    a   b   c
1   4   5   6
2   7   8   9
3  10  11  12

In [20]:
df = pd.DataFrame(
  {"a" : [4 ,5, 6],
  "b" : [7, 8, 9],
  "c" : [10, 11, 12]}, 
  index = pd.MultiIndex.from_tuples(
  [('d',1),('d',2),('e',2)], 
  names=['n','v']
  )
  )
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12